#s-32dc7d8d-0b1d-4f3c-9718-c593bed7e6cb > #backgroundBox {
  position: absolute;
}
#s-32dc7d8d-0b1d-4f3c-9718-c593bed7e6cb > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-32dc7d8d-0b1d-4f3c-9718-c593bed7e6cb #s-Image_1 {
  position: absolute;
  width: 374.99999999999994px;
  height: 781.4610778443114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-32dc7d8d-0b1d-4f3c-9718-c593bed7e6cb #s-Image_1 {
  box-shadow: none;
}
#s-32dc7d8d-0b1d-4f3c-9718-c593bed7e6cb #s-Hotspot_1 {
  position: absolute;
  width: 61.99999999999994px;
  height: 47.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-32dc7d8d-0b1d-4f3c-9718-c593bed7e6cb #s-Hotspot_2 {
  position: absolute;
  width: 199.0px;
  height: 47.00000000000017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-32dc7d8d-0b1d-4f3c-9718-c593bed7e6cb #s-Hotspot_3 {
  position: absolute;
  width: 187.0px;
  height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-32dc7d8d-0b1d-4f3c-9718-c593bed7e6cb #s-Hotspot_4 {
  position: absolute;
  width: 127.00000000000011px;
  height: 98.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-32dc7d8d-0b1d-4f3c-9718-c593bed7e6cb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}