#t-f39803f7-df02-4169-93eb-7547fb8c961a > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}