#s-091cf0ab-fdf6-4207-8569-d78f66aaab53 > #backgroundBox {
  position: absolute;
}
#s-091cf0ab-fdf6-4207-8569-d78f66aaab53 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-091cf0ab-fdf6-4207-8569-d78f66aaab53 #s-Image_1 {
  position: absolute;
  width: 376.0px;
  height: 782.8000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-091cf0ab-fdf6-4207-8569-d78f66aaab53 #s-Image_1 {
  box-shadow: none;
}
#s-091cf0ab-fdf6-4207-8569-d78f66aaab53 #s-Hotspot_1 {
  position: absolute;
  width: 86.0px;
  height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-091cf0ab-fdf6-4207-8569-d78f66aaab53 #s-Hotspot_2 {
  position: absolute;
  width: 81.50000000000003px;
  height: 55.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-091cf0ab-fdf6-4207-8569-d78f66aaab53 #s-Hotspot_3 {
  position: absolute;
  width: 84.0000000000002px;
  height: 61.000000000000455px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-091cf0ab-fdf6-4207-8569-d78f66aaab53 #s-Hotspot_4 {
  position: absolute;
  width: 71.49999999999983px;
  height: 57.19999999999982px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-091cf0ab-fdf6-4207-8569-d78f66aaab53 #s-Hotspot_5 {
  position: absolute;
  width: 54.999999999999886px;
  height: 31.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-091cf0ab-fdf6-4207-8569-d78f66aaab53 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}