#s-163bc497-37ad-47d8-8ad3-95478d609db9 > #backgroundBox {
  position: absolute;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Image_1 {
  position: absolute;
  width: 375.0000000000002px;
  height: 786.6770623742459px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Image_1 {
  box-shadow: none;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Hotspot_1 {
  position: absolute;
  width: 184.0px;
  height: 47.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_1 {
  position: absolute;
  width: 257.9999999999999px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_1 {
  box-shadow: none;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_2 {
  position: absolute;
  width: 254.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_2 {
  box-shadow: none;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_3 {
  position: absolute;
  width: 266.9999999999999px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_3 {
  box-shadow: none;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_4 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_4 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_4 {
  position: absolute;
  width: 266.9999999999999px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_4 {
  box-shadow: none;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 #s-Hotspot_2 {
  position: absolute;
  width: 61.99999999999994px;
  height: 28.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-163bc497-37ad-47d8-8ad3-95478d609db9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}