#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 > #backgroundBox {
  position: absolute;
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Image_1 {
  position: absolute;
  width: 374.99999999999994px;
  height: 784.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Image_1 {
  box-shadow: none;
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Hotspot_1 {
  position: absolute;
  width: 86.0px;
  height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Hotspot_2 {
  position: absolute;
  width: 81.50000000000003px;
  height: 55.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Hotspot_3 {
  position: absolute;
  width: 84.0000000000002px;
  height: 61.000000000000455px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Hotspot_4 {
  position: absolute;
  width: 71.49999999999983px;
  height: 57.19999999999982px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Hotspot_5 {
  position: absolute;
  width: 100.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Hotspot_6 {
  position: absolute;
  width: 100.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Hotspot_7 {
  position: absolute;
  width: 100.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Hotspot_8 {
  position: absolute;
  width: 100.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Hotspot_9 {
  position: absolute;
  width: 100.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Hotspot_10 {
  position: absolute;
  width: 100.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Hotspot_11 {
  position: absolute;
  width: 100.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Hotspot_12 {
  position: absolute;
  width: 100.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Hotspot_13 {
  position: absolute;
  width: 100.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 #s-Hotspot_14 {
  position: absolute;
  width: 43.000000000000114px;
  height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6d0d45a0-16aa-4214-a636-a964cb3f87a0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}